# Database Configuration
DATABASE_URL=postgresql+pg8000://postgres.ayxquswnidttxdvfjeoo:Kusumithabai%40@[POOLER-HOST]:5432/postgres
ACCESS_TOKEN_EXPIRE_MINUTES=1440


# CORS Configuration
BACKEND_CORS_ORIGINS=["http://localhost:3000","http://localhost:8080","http://localhost:19006","http://10.0.2.2:8081"]

# JWT Configuration
JWT_SECRET=change-this-in-your-local-env
JWT_ALGORITHM=HS256