# Database Configuration
DATABASE_URL=postgresql://postgres.ayxquswnidttxdvfjeoo:Kusumithabai%40009@aws-0-ap-south-1.pooler.supabase.com:5432/postgres
ACCESS_TOKEN_EXPIRE_MINUTES=1440 # 24 hours

# CORS Configuration
# Comma-separated list of allowed origins
BACKEND_CORS_ORIGINS=http://localhost:3000,http://localhost:8080,http://localhost:19006,http://10.0.2.2:8081
